body{
    margin: 0px;
    background-color: rgb(251, 251, 251);
}

#header{
    display: flex;
    background-color: rgb(126, 225, 133);
    justify-content: space-around;
    padding: 15px;
}

#container{
    display: flex;
}

#header_data{
    width: 50%;
    text-align: right;
}

#header_img{
    width: 50%;
    text-align: center;
}

.subtitulos{
    color: rgb(208, 141, 55);
}

#container_data{
    display: flex;
}

.information_personal{
    font-weight: 700;
    
}

.datos_personales{
    margin-left: 40px;
}

.left_side{
    margin: 10px 20px;
    text-align: justify;
}

.right_side{
    margin: 10px 20px;
    text-align: justify;
}

.extra_information{
    font-weight: 700;
    color: rgb(88, 170, 49);
}
